<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>{{http_status}}</title>
</head>
<body>
    sorry, the server occured some trouble...
    {{message}}
    {{error}}
</body>
</html>